@import url('https://fonts.google.com/share?selection.family=Momo+Trust+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-weight: bold; /* deixa a letra mais fina */
}

:root {
    --letra: black;
    --borda: white;
    --button: lightgreen;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(7, 7, 41);
    background-image: url(https://mudatudo.com.br/website/wp-content/uploads/2018/02/cans-2618674_1920-1280x640.jpg);
    width: 110%;
    background-size: cover; /* faz com que a imagem cubra toda a página */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: 100%; /* faz com que a imagem cubra toda a altura do corpo da página */
    overflow: hidden; /* impede a barra de rolagem vertical */
    display: flex;
    justify-content: center;
}

.container { /* criando o enfeito de embaçado + as bordas e cor da letra */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-width: 330px;
    width: 110%;
    padding-left:  5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 120px 0;
    color: var(--letra);
    filter: blur();
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 55px;

    background-color:#757575;
 
}

.container2 { /* criando o enfeito de embaçado + as bordas e cor da letra */
    font-size: 20px;
    display: flex;
    flex-direction:column;
    border-radius: 15px;
 
    text-wrap:wrap;
    padding-left:  15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 80px 0;
    color: var(--letra);
    filter: blur();
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 55px;

    background-color: white;
    height: fit-content;
 
}

.titulo { 
    font-size: 20px;
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    max-width: 440px;
    width: 110%;
    padding-left:  5px;
             padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 120px 0;
    color: var(--letra);
    filter: blur();
    display: flex;
    align-items: center;
    text-align: center;

    background-color:#757575;
   
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--letra);
}

.container button {
    margin-top: 5px;
    font-size: 20px;
    background-color: #110130;
}

.container button:hover{
    background-color: var(--button);
}

form input:focus {
    border: var(--borda);
}

.butao{
    background-color: rgb(63, 63, 63);
    color: white;
}